<div id="content-wrapper">
    <div class="well">

<app-navigation></app-navigation>

<router-outlet></router-outlet>
</div>
</div>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url('/assets/appetizer-bowls-cuisine-1640770.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>


      <div class="carousel-item" style="background-image: url('/assets/berries-bread-delicious-1660030.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
           <div class="carousel-item" style="background-image: url('/assets/appetizer-brunch-close-up-1095550.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('assets/blur-close-up-dairy-product-376464.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('/assets/bottle-bowl-cuisine-704971.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('/assets/bowl-cuisine-delicious-1640773.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item" style="background-image: url('/assets/carrots-cucumber-delicious-1640777.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>
