
<div style="text-align:center">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">WELCOME TO SAHAARA</h4>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="btn btn-outline-success" type="button" routerLink="/viewmenu" routerLinkActive="active" >View Shops</button>
        <button class="btn btn-outline-success" type="button" routerLink="/viewchef"routerLinkActive="active">View Chefs</button>
        <button *ngIf = "logintypechef" class="btn btn-outline-success" type="button" routerLink="/addmenu" routerLinkActive="active" >Add Shop</button>
        <div *ngIf="!loginstatus">
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            sigin to order
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a routerLink = "/customer" class="dropdown-item" href="customer">customer signup</a>
            <a class="dropdown-item" routerLink="/logincustomer">customer signin</a>
            <a class="dropdown-item" routerLink="/chef">chef signup</a>
            <a class="dropdown-item" routerLink="/loginchef">chef signin</a>
          </div>
        </li></div>
        <div *ngIf="loginstatus">
        <a (click)="onSubmit()" class="btn btn-outline-success">Logout </a>
        </div>
      </nav>
    </div>
  </div>
